SOKETI_CONTAINER_ROUTING=single
SOKETI_CONTAINER_INSTANCE_NAME=soketi-rs
SOKETI_CONTAINER_INSTANCE_COUNT=1
SOKETI_APP_CONFIG_DRIVER=array
SOKETI_APP_CONFIG_INSTANCE_NAME=default
SOKETI_EXPOSE_METRICS=false
SOKETI_ADMIN_BEARER_TOKEN=replace-with-an-admin-token

PUSHER_DEFAULT_APP_ID=app-id
PUSHER_DEFAULT_APP_KEY=app-key
PUSHER_DEFAULT_APP_SECRET=replace-with-a-strong-secret
